


                    ng-disabled="addUserForm.$invalid || addUserForm.$pristine">确定
            </button>
            <button type="button" class="btn btn-primary btn-sm" data-ng-click="modify()"
            <button type="button" class="btn btn-sm btn-warning" data-ng-click="cancel()">取消</button>
        <div style="text-align: center;margin-top: 20px;">
        <span>密码：<input type="password" class="form-control"></span>
        <span>邮箱：<input type="email" class="form-control"></span>
       <span>用户名：<input type="text" class="form-control"></span>
    +
    ++<div style="padding: 20px;"  >
    </div>
    </form>
    <button type="button" class="close" data-ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="modal-dialog modal-sm">
    <form name="myForm" style="margin-top:20px"; method="post" novalidate>
  说6        </div>
33
</div>47745*＊＊－＊＊－－＊＊＋33